:root {
  --Brand-colors-pink: #f67acb;
  --gray-colors-50: #e6ebf2;
  --Gray-colors-100: #050110;
  --Gray-colors-200: #1c1d1f;
  --Gray-colors-300: #393c40;
  --Gray-colors-400: #5c6066;
  --gray-colors-800: #f7f8fa;
  --white-color-text: #ffffffb2;
  --white: #ffffff;
}
